<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
  Display Data - ZzzCrimeCheck
{% endblock %}
{% block content %}

<div class="container">

  <form method="post" action="{{ url_for('display', data_type=data_type) }}">
      {% if data_type == 'crime_officer' %}
      <label for="search_id">Enter Crime ID:</label>
      <input type="number" id="search_id" name="search_id" required>
      <label for="search_officer_id">Enter Officer ID:</label>
      <input type="number" id="search_id" name="search_officer_id" required>
      {% else %}
      <label for="search_id">Enter ID:</label>
      <input type="number" id="search_id" name="search_id" required>
      {% endif %}
      <input type="hidden" name="action" value="search">
      <input type="submit" value="Search">
    </form>
  <div class="table-container">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% if data_type == 'criminal' %}
      <h2>All Criminals</h2>
      {% if current_user.role == 'admin' %}
            <p><a href="{{ url_for('add_entry', data_type = 'criminal') }}">Add a New Criminal</a></p>
      {% endif %}
      <table>
        <tr>
          <th>ID</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Phone</th>
          <th>Violent Status</th>
          <th>Property Status</th>
          {% if current_user.role == 'admin' %}
            <th>Action</th>
          {% endif %}
        </tr>
        <tbody>
          {% for criminal in data['criminals'] %}
            <tr>
              <td>{{ criminal[0] }}</td>
              <td>{{ criminal[1] }}</td>
              <td>{{ criminal[2] }}</td>
              <td>{{ criminal[3] }}</td>
              <td>{{ criminal[4] }}</td>
              <td>{{ criminal[5] }}</td>
              <td>{{ criminal[6] }}</td>
              <td>{{ criminal[7] }}</td>
              <td>{{ criminal[8] }}</td>
              <td>{{ criminal[9] }}</td>
              {% if current_user.role == 'admin' %}
                <td>
                  <a href="{{ url_for('update_entry', data_type = 'criminal', id=criminal[0])}}" class="btn btn-warning">Update</a>
                </td>
                <td>
                  <a href="{{ url_for('delete_entry', data_type = 'criminal', id=criminal[0])}}" class="btn btn-warning">Delete</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% elif data_type == 'officer' %}
      <h2>All Officers</h2>
      {% if current_user.role == 'admin' %}
            <p><a href="{{ url_for('add_entry', data_type = 'officer') }}">Add a New Officer</a></p>
      {% endif %}
      <table>
        <!-- Table headers for officers and probation officers -->
        <!-- Table headers for criminals -->
        <tr>
          <th>ID</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Precinct</th>
          <th>Badge Number</th>
          <th>Phone number</th>
          <th>Status</th>
          {% if current_user.role == 'admin' %}
            <th>Action</th>
          {% endif %}
        </tr>
        <tbody>
          {% for officer in data['officers'] %}
            <tr>
              <!-- Add table data for officers here -->
              <td>{{ officer[0] }}</td>
              <td>{{ officer[1] }}</td>
              <td>{{ officer[2] }}</td>
              <td>{{ officer[3] }}</td>
              <td>{{ officer[4] }}</td>
              <td>{{ officer[5] }}</td>
              <td>{{ officer[6] }}</td>
              {% if current_user.role == 'admin' %}
                <td>
                  <a href="{{ url_for('update_entry', data_type = 'officer', id=officer[0]) }}" class="btn btn-warning">Update</a>
                </td>
                <td>
                  <a href="{{ url_for('delete_entry', data_type = 'officer', id=officer[0]) }}" class="btn btn-warning">Delete</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
          {% elif data_type == 'prob_officer' %}
          <h2>All Probation officer</h2>
          {% if current_user.role == 'admin' %}
                <p><a href="{{ url_for('add_entry', data_type = 'prob_officer') }}">Add a New Probation Officer</a></p>
          {% endif %}
          <table>
            <tr>
              <th>ID</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Street</th>
              <th>City</th>
              <th>State</th>
              <th>Zip Code</th>
              <th>Phone number</th>
              <th>Email Address</th>
              <th>Status</th>
              {% if current_user.role == 'admin' %}
                <th>Action</th>
              {% endif %}
            </tr>
            <tbody>
          {% for prob_officer in data['prob_officers'] %}
            <tr>
              <td>{{ prob_officer[0] }}</td>
              <td>{{ prob_officer[1] }}</td>
              <td>{{ prob_officer[2] }}</td>
              <td>{{ prob_officer[3] }}</td>
              <td>{{ prob_officer[4] }}</td>
              <td>{{ prob_officer[5] }}</td>
              <td>{{ prob_officer[6] }}</td>
              <td>{{ prob_officer[7] }}</td>
              <td>{{ prob_officer[8] }}</td>
              <td>{{ prob_officer[9] }}</td>
              {% if current_user.role == 'admin' %}
                <td>
                  <a href="{{ url_for('update_entry', data_type = 'prob_officer', id=prob_officer[0]) }}" class="btn btn-warning">Update</a>
                </td>
                <td>
                  <a href="{{ url_for('delete_entry', data_type = 'prob_officer', id=prob_officer[0]) }}" class="btn btn-warning">Delete</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}

          {% elif data_type == 'crime_code' %}
          <h2>All Crime Codes</h2>
          {% if current_user.role == 'admin' %}
            <p><a href="{{ url_for('add_entry', data_type = 'crime_code') }}">Add a New Crime Code</a></p>
          {% endif %}
          <table>
            <tr>
              <th>Code</th>
              <th>Description</th>
              {% if current_user.role == 'admin' %}
                <th>Action</th>
              {% endif %}
            </tr>
            <tbody>
            {% for crime_code in data['crime_codes'] %}
              <tr>
                <td>{{ crime_code[0] }}</td>
                <td>{{ crime_code[1] }}</td>
                {% if current_user.role == 'admin' %}
                  <td>
                    <a href="{{ url_for('update_entry', data_type = 'crime_code', id=crime_code[0]) }}" class="btn btn-warning">Update</a>
                  </td>
                  <td>
                    <a href="{{ url_for('delete_entry', data_type = 'crime_code', id=crime_code[0]) }}" class="btn btn-warning">Delete</a>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
            {% elif data_type == 'crime_officer' %}
            <h2>All Crime Officers</h2>
            {% if current_user.role == 'admin' %}
              <p><a href="{{ url_for('add_entry', data_type = 'crime_officer') }}">Add a New Crime Officer</a></p>
            {% endif %}
            <table>
              <tr>
                <th>Crime ID</th>
                <th>Officer ID</th>
                {% if current_user.role == 'admin' %}
                  <th>Action</th>
                {% endif %}
              </tr>
              <tbody>
              {% for crime_officer in data['crime_officers'] %}
                <tr>
                  <td>{{ crime_officer[0] }}</td>
                  <td>{{ crime_officer[1] }}</td>
                  {% if current_user.role == 'admin' %}
                    <td>
                      <a href="{{ url_for('update_entry', data_type='crime_officer', id=crime_officer[0], id2=crime_officer[1]) }}" class="btn btn-warning">Update</a>
                    </td>
                    <td>
                    <a href="{{ url_for('delete_entry', data_type='crime_officer', id=crime_officer[0], id2=crime_officer[1]) }}" class="btn btn-warning">Delete</a>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
              {% elif data_type == 'crime' %}
              <h2>All Crimes</h2>
              {% if current_user.role == 'admin' %}
                <p><a href="{{ url_for('add_entry', data_type = 'crime') }}">Add a New Crime</a></p>
              {% endif %}
              <table>
                <tr>
                  <th>Crime ID</th>
                  <th>Criminal ID</th>
                  <th>Classification</th>
                  <th>Date Charged</th>
                  <th>Status</th>
                  <th>Hearing Date</th>
                  <th>Appeal Cutoff Date</th>
                  {% if current_user.role == 'admin' %}
                    <th>Action</th>
                  {% endif %}
                </tr>
                <tbody>
                {% for crime in data['crimes'] %}
                  <tr>
                    <td>{{ crime[0] }}</td>
                    <td>{{ crime[1] }}</td>
                    <td>{{ crime[2] }}</td>
                    <td>{{ crime[3] }}</td>
                    <td>{{ crime[4] }}</td>
                    <td>{{ crime[5] }}</td>
                    <td>{{ crime[6] }}</td>
                    {% if current_user.role == 'admin' %}
                      <td>
                        <a href="{{ url_for('update_entry', data_type='crime', id=crime[0]) }}" class="btn btn-warning">Update</a>
                      </td>
                      <td>
                        <a href="{{ url_for('delete_entry', data_type='crime', id=crime[0]) }}" class="btn btn-warning">Delete</a>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
                {% elif data_type == 'appeal' %}
                <h2>All Appeals</h2>
                {% if current_user.role == 'admin' %}
                  <p><a href="{{ url_for('add_entry', data_type='appeal') }}">Add a New Appeal</a></p>
                {% endif %}
                <table>
                  <tr>
                    <th>Appeal ID</th>
                    <th>Crime ID</th>
                    <th>Filing Date</th>
                    <th>Hearing Date</th>
                    <th>Status</th>
                    {% if current_user.role == 'admin' %}
                      <th>Action</th>
                    {% endif %}
                  </tr>
                  <tbody>
                  {% for appeal in data['appeals'] %}
                    <tr>
                      <td>{{ appeal[0] }}</td>
                      <td>{{ appeal[1] }}</td>
                      <td>{{ appeal[2] }}</td>
                      <td>{{ appeal[3] }}</td>
                      <td>{{ appeal[4] }}</td>
                      {% if current_user.role == 'admin' %}
                        <td>
                          <a href="{{ url_for('update_entry', data_type='appeal', id=appeal[0]) }}" class="btn btn-warning">Update</a>
                        </td>
                        <td>
                          <a href="{{ url_for('delete_entry', data_type='appeal', id=appeal[0]) }}" class="btn btn-warning">Delete</a>
                        </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                  {% elif data_type == 'criminal_charges' %}
                  <h2>All Criminal Charges</h2>
                  {% if current_user.role == 'admin' %}
                    <p><a href="{{ url_for('add_entry', data_type='criminal_charges') }}">Add a New Criminal Charge</a></p>
                  {% endif %}
                  <table>
                    <tr>
                      <th>Charge ID</th>
                      <th>Crime ID</th>
                      <th>Crime Code</th>
                      <th>Charge Status</th>
                      <th>Fine Amount</th>
                      <th>Court Fee</th>
                      <th>Amount Paid</th>
                      <th>Pay Due Date</th>
                      {% if current_user.role == 'admin' %}
                        <th>Action</th>
                      {% endif %}
                    </tr>
                    <tbody>
                    {% for charge in data['criminal_charges'] %}
                      <tr>
                        <td>{{ charge[0] }}</td>
                        <td>{{ charge[1] }}</td>
                        <td>{{ charge[2] }}</td>
                        <td>{{ charge[3] }}</td>
                        <td>{{ charge[4] }}</td>
                        <td>{{ charge[5] }}</td>
                        <td>{{ charge[6] }}</td>
                        <td>{{ charge[7] }}</td>
                        {% if current_user.role == 'admin' %}
                          <td>
                            <a href="{{ url_for('update_entry', data_type='criminal_charges', id=charge[0]) }}" class="btn btn-warning">Update</a>
                          </td>
                          <td>
                            <a href="{{ url_for('delete_entry', data_type='criminal_charges', id=charge[0]) }}" class="btn btn-warning">Delete</a>
                          </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                    {% elif data_type == 'aliases' %}
                    <h2>Aliases</h2>
                    {% if current_user.role == 'admin' %}
                      <p><a href="{{ url_for('add_entry', data_type='aliases') }}">Add a New Aliases</a></p>
                    {% endif %}
                    <table>
                      <tr>
                          <th>Alias ID</th>
                          <th>Criminal ID</th>
                          <th>Alias</th>
                          {% if current_user.is_admin %}
                            <th>Action</th>
                          {% endif %}
                      </tr>
                      {% for alias in data['aliases'] %}
                      <tr>
                          <td>{{ alias[0] }}</td>
                          <td>{{ alias[1] }}</td>
                          <td>{{ alias[2] }}</td>
                          {% if current_user.is_admin %}
                          <td>
                              <a href="{{ url_for('update_entry', data_type=data_type, id=alias[0]) }}" class="btn btn-primary">Update</a>
                              <a href="{{ url_for('delete_entry', data_type=data_type, id=alias[0]) }}" class="btn btn-danger">Delete</a>
                          </td>
                          {% endif %}
                      </tr>
                    {% endfor %}
                    {% elif data_type == 'sentences' %}
                    <h2>Sentences</h2>
                    {% if current_user.role == 'admin' %}
                        <p><a href="{{ url_for('add_entry', data_type='sentences') }}">Add a New Sentence</a></p>
                    {% endif %}
                    <table>
                        <tr>
                            <th>Sentence ID</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Num Violations</th>
                            <th>Type of Sentence</th>
                            <th>Criminal ID</th>
                            <th>Probation Officer ID</th>
                            {% if current_user.is_admin %}
                                <th>Action</th>
                            {% endif %}
                        </tr>
                        {% for sentence in data['sentences'] %}
                            <tr>
                                <td>{{ sentence[0] }}</td>
                                <td>{{ sentence[1] }}</td>
                                <td>{{ sentence[2] }}</td>
                                <td>{{ sentence[3] }}</td>
                                <td>{{ sentence[4] }}</td>
                                <td>{{ sentence[5] }}</td>
                                <td>{{ sentence[6] }}</td>
                                {% if current_user.is_admin %}
                                <td>
                                    <a href="{{ url_for('update_entry', data_type=data_type, id=sentence[0]) }}" class="btn btn-primary">Update</a>
                                    <a href="{{ url_for('delete_entry', data_type=data_type, id=sentence[0]) }}" class="btn btn-danger">Delete</a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                
          </table>
        </tbody>
      </table>
    {% endif %}
    </div>
</div>
{% endblock %}

