{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
{% endblock %}

{% block title %}
  ZzzCrimeCheck - Home
{% endblock %}

{% block content %}
  <div class="title">
    <center>
    <h3>
      <span class="main-title">ZZZ Crime Check</span>
      <br>
      <span class="subtitle">Your Best Crime Search Engine, a ultimate city jail database management system</span>
    </h3>
    <div class="img">
      <img src = 'static/search.png' alt = 'image of searching'>
    </div>
    </center>
  </div>
{% endblock %}
