{% extends 'base.html' %}

{% block title %}
  Add Criminal - ZzzCrimeCheck
{% endblock %}
{% block content %}

    <div class="container1">
      <div class = "image">
        <img src = "static/handcuff.png" alt = "icon of a handcuff">
      </div>

      <div class = "text">
        <div class = "title">
          <h3> ZZZ.Co </h3>
        </div>
        <div class="subhead">
          <p> A Good Public Safty Assistance Tool </p>
        </div>

        <div class = "content">
          <p> The Background information check for the people in your interest. </p>
          <p> A framework of website that allows for users to look into crime checks they are interested in. </p>
        </div>
      </div>
    </div>

    <div class = "container2">
      <div clas = "text">
        <div class = "subhead">
          <p> Usage </p>
        </div>

        <div class = "content">
          <p> For companies providing <span class = "bolded">public services</span>: Uber, Uber Eats, Doordash </p>
          <p> People <span class = "bolded">DO NOT</span> need to worry about if the people who delivers food for them or drives them to home. </p>
          <p> The website can also be utilized by the <span class = "bolded">HR department</span> of Companies. The company could do <span class = "bolded">crime checks </span>and consider if the target person could be hired or not.</p>
          <p> The user company can enter their <span class = "bolded">own company name</span> if the search result is not what they want. We will try our best to get the result from related department.</p>
        </div>

      </div>
      <div class = "image">
        <img src = "static/use.png" alt = "icon of using website">
      </div>
    </div>
  {% endblock %}
